<section class="content-section d-flex flex-column">

  <!-- Page Header -->
  <div class="page-header d-flex align-items-center mt-5    ">
    <h2 class="section-title mx-auto">About</h2>
  </div>

  <!-- Main Content -->
  <div class="page-content row flex-grow-1 mx-0 align-items-center">
    
    <div class="col-md-6 text-center mb-3 mb-md-0">
      <div class="about-image">
        <img src="assets/about-img.jpg" alt="Profile Image">
      </div>
    </div>

    <div class="col-md-6 px-4">
      <h3>I’m Kapil</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptate cum expedita quo culpa tempora, assumenda, quis
        fugiat at voluptates soluta, aut earum nemo recusandae
        cumque perferendis! Recusandae alias accusamus atque.
      </p>
    </div>

  </div>

</section>
