/* MAIN SECTION (takes full available height from router-outlet) */
.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* important for proper flex shrinking */
}

/* PAGE HEADER = 25% HEIGHT */
.page-header {
  flex: 0 0 25%;    /* fixed 25% of parent height */
  display: flex;
  align-items: center;
  justify-content: center;

  .section-title {
    color: #3b82f6;
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    font-weight: 700;
    position: relative;
    display: inline-block;

    /* Underline */
    &::after {
      content: "";
      display: block;
      width: 70%;          /* underline length */
      height: 3px;         /* thickness */
      background: #3b82f6;
      margin: 6px auto 0;  /* space + center */
      border-radius: 2px;  /* smooth */
    }
  }
}

.skills-section {

  .skill-group-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0 10px;
  }

  .skill-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    transition: transform .25s ease, box-shadow .25s ease;
  }

  .skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .skill-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-bottom: 8px;
  }

  .skill-name {
  font-size: clamp(0.75rem, 1.5vw, 0.9rem);
}


  .laptop-image {
    max-width: 90%;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  }
}





