<section class="content-section d-flex flex-column">

  <!-- Page Header -->
  <div class="page-header d-flex align-items-center mt-5    ">
    <h2 class="section-title mx-auto">Skills</h2>
  </div>

  <!-- Main Content -->
  <div class="page-content row flex-grow-1 mx-0 align-items-center">
      
    <div class="col-md-6 px-4 pb-3 skills-grid">

  <!-- FRONTEND -->
  <h4 class="group-title mt-3">Front-end Development</h4>
  <div class="row g-3">
    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-code-slash"></i>
        <span>Angular</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-code-square"></i>
        <span>TypeScript</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-braces"></i>
        <span>JavaScript</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-grid-1x2"></i>
        <span>Angular Material</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-ui-checks-grid"></i>
        <span>Bootstrap</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-filetype-html"></i>
        <span>HTML</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-filetype-css"></i>
        <span>CSS</span>
      </div>
    </div>
  </div>
  <hr>

  <!-- TOOLS -->
  <h4 class="group-title mt-4">Tools & Platforms</h4>
  <div class="row g-3">
    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-github"></i>
        <span>GitHub</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-laptop"></i>
        <span>VS Code</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-box-arrow-up-right"></i>
        <span>Postman</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-globe"></i>
        <span>Swagger</span>
      </div>
    </div>
  </div>
  <hr>

  <!-- BACKEND -->
  <h4 class="group-title mt-4 mb-2">Back-end Development</h4>
  <div class="row g-3">
    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-hdd-network"></i>
        <span>Node.js</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-terminal"></i>
        <span>Express</span>
      </div>
    </div>

    <div class="col-4">
      <div class="skill-box">
        <i class="skill-icon bi bi-database"></i>
        <span>MongoDB</span>
      </div>
    </div>
  </div>

</div>


    
    <div class="col-md-6 text-center mb-3 mb-md-0">
      <div class="skill-image">
        <img src="assets/laptop.jpg" alt="Profile Image">
      </div>
    </div>

  </div>

</section>
