<footer class="main-footer py-4 bg-white">
  <div class="col">
  <div class="row">
    <div class="col text-left">
      <div class="d-flex justify-content-center gap-3 social-icons">
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="#"><i class="bi bi-behance"></i></a>
      <a href="#"><i class="bi bi-github"></i></a>
    </div>
    </div>
    <div class="col text-end pe-4">
      <p class="mb-2">© 2025 Kapil's Portfolio – All Rights Reserved</p>
    </div>
  </div>
</div>
</footer>
