<section class="content-section d-flex flex-column">

  <!-- Page Header -->
  <div class="page-header d-flex align-items-center mt-5    ">
    <h2 class="section-title mx-auto">Projects</h2>
  </div>

  <!-- Main Content -->
  <div class="page-content row flex-grow-1 mx-0 align-items-center">
    <div class="col-md-12 px-5 pb-3 skills-grid">

      <!-- PERSONAL -->
      <h4 class="group-title mt-5 my-3">Personal / Portfolio Projects</h4>
      <div class="row row-cols-1 row-cols-md-4 justify-content-between g-4">
        <div class="col">
          <div class="card h-100">
            <img src="assets/hotel-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Hotel Management</h6>
              <p class="card-text small">Hotel Management System.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/ems-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">EMS</h6>
              <p class="card-text small">Employee Management System</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/weather-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Know Weather</h6>
              <p class="card-text small">Get weather details according to city name</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
      

      <!-- COMPANY -->
      <h4 class="group-title mt-5 my-3">Real-World Projects (Company Work)</h4>
      <div class="row row-cols-1 row-cols-md-4 justify-content-between g-4">
        <div class="col">
          <div class="card h-100">
            <img src="assets/bank-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Bank Applications</h6>
              <p class="card-text small">Hotel Management System.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/pg-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Payment Gateways</h6>
              <p class="card-text small">Integration of application with payment gateways</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/hm-project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Hotel Management System</h6>
              <p class="card-text small">Hotel booking core fuctionalities</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">
                <div class="row">
                  <div class="col text-center border-end border-dark"><a href="#" class="card-link"><i
                        class="skill-icon bi bi-github fs-4 text-dark"></i></a></div>
                  <div class="col text-center"><a href="#" class="card-link"><i
                        class="bi bi-arrow-up-right-circle fs-4 text-primary"></i></a></div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>