<section class="home-section d-flex align-items-center">
  <div class="container py-5">
    <div class="row align-items-center">

      <!-- Left Text -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h1 class="home-title">
          Hi,<br>
          I’m <span class="highlight">Kapil Ingle</span><br>
          Angular Developer
        </h1>

        <a class="btn btn-primary mt-4 px-4 py-2">Contact</a>

      </div>

      <!-- Right Image -->
      <div class="col-lg-6 text-center">
        <div class="home-image-wrapper mx-auto">
          <img 
            src="assets/my_profile_pic.jpg" 
            alt="Profile" 
            class="img-fluid home-image">
        </div>
      </div>

    </div>
  </div>
</section>
